@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}